---
layout: default
title: Competitie
subtitle: Competitie
subdesc: Kalender en klassement van de A en B ploeg
---

<div class="row">
    <div class="span6">
        <h2>A ploeg</h2>
        {% include 2013-zomercompetitie-a.html %}
        <table class="table">
            <tbody id="calendar-a">
            </tbody>
        </table>
    </div>

    <div class="span6">
        <h2>B ploeg</h2>
        {% include 2013-zomercompetitie-b.html %}
        <table class="table">
            <tbody id="calendar-b">
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <p>De laatste uitslagen en klassementen kan je op de site van de <strong>KAVVV</strong> vinden.</p>
        <ul>
            <li><a href="http://www.kavvv.be/index.php?view=afdeling_content&id=412&afdeling=16">Klassementen</a></li>
            <li><a href="http://www.kavvv.be/index.php?view=afdeling_content&id=155&afdeling=voetKempen">Alle uitsluigen A reeks</a></li>
            <li><a href="http://www.kavvv.be/index.php?view=afdeling_content&id=159&afdeling=voetKempen">Alle uitsluigen B reeks</a></li>
        </ul>
    </div>
</div>

<!--
B-ploeg
uitslagen: http://www.kavvv.be/index.php?view=afdeling_content&id=159&afdeling=voetKempen
stand: http://www.kavvv.be/index.php?view=afdeling_content&id=412&afdeling=16

A-ploeg
uitslagen: http://www.kavvv.be/index.php?view=afdeling_content&id=155&afdeling=voetKempen
stand: http://www.kavvv.be/index.php?view=afdeling_content&id=412&afdeling=16
-->