---
layout: default
title: Evenementen
subtitle: Evenementen
subdesc: Evenementen die Horst SC organiseert
---


<div class="row">
    <div class="span3">
        <h4>Alle evenementen</h4>
        <ul class="nav nav-list bs-docs-sidenav affix-top">
            {% for post in site.categories.event %}
                <!--<li><a href="{{ post.url }}"><i class="icon-chevron-right"></i> {{ post.title }}</a></li>-->
                <li><i class="icon-chevron-right"></i> {{ post.title }}</li>
            {% endfor %}
            <li><i class="icon-chevron-right"></i> ...</li>
        </ul>
    </div>

    <div class="span9">
        {% for post in site.categories.event %}
            <h4>{{ post.title }}</h4>
            <p><strong>{{ post.datestr }}</strong></p>
            {{ post.content }}
        {% endfor %}
    </div>
</div>
