H.register("A", [
    ["20/04/13 15:45", "Horst SC A", "R. Heesakker A", 5, 1],
    ["27/04/13 15:45", "Horst SC A", "FC Kolonie A", 7, 1],
    ["01/05/13 00:00", "vrij"],
    ["04/05/13 15:45", "Horst SC A", "SP Blauwwit", 3, 3],
    ["09/05/13 00:00", "vrij"],
    ["11/05/13 16:00", "VK Kolonie", "Horst SC A", 0, 7],
    ["18/05/13 15:45", "Horst SC A", "SK Kiebergen", 3, 1],
    ["20/05/13 17:00", "R. Heesakker A", "Horst SC A", 1, 7],
    ["25/05/13 15:45", "Horst SC A", "Steenweg SP", 3, 0],
    ["01/06/13 15:45", "Horst SC A", "Kamp United"],
    ["08/06/13 15:45", "Horst SC A", "Warande SP"],
    ["15/06/13 15:45", "Horst SC A", "Welkom Boys A"],
    ["22/06/13 00:00", "vrij"],
    ["29/06/13 13:00", "FC Kolonie A", "Horst SC A"],
    ["06/07/13 00:00", "vrij"],
    ["03/08/13 00:00", "vrij"],
    ["10/08/13 17:00", "SP Blauwwit", "Horst SC A"],
    ["17/08/13 15:45", "Horst SC A", "VK Kolonie"],
    ["24/08/13 17:00", "SK Kiebergen", "Horst SC A"],
    ["31/08/13 13:30", "Steenweg SP", "Horst SC A"],
    ["07/09/13 17:00", "Kamp United", "Horst SC A"],
    ["14/09/13 16:30", "Warande SP", "Horst SC A"],
    ["21/09/13 17:00", "Welkom Boys A", "Horst SC A"],
    ["28/09/13 00:00", "vrij"]
]);

H.register("B", [
    ["20/04/13 14:00", "Horst SC B", "SK Locht", 0, 2],
    ["27/04/13 14:00", "Horst SC B", "FC Kolonie B", 0, 0],
    ["01/05/13 14:00", "Horst SC B", "VV Heuvel", 1, 8],
    ["04/05/13 14:00", "Horst SC B", "Toek. Geneberg", 3, 3],
    ["09/05/13 14:00", "Horst SC B", "FC Spoetnik"],
    ["11/05/13 00:00", "vrij"],
    ["18/05/13 00:00", "vrij"],
    ["20/05/13 00:00", "vrij"],
    ["25/05/13 14:00", "Horst SC B", "Hoef SP.", 1, 2],
    ["01/06/13 14:00", "Horst SC B", "R. Heesakker B"],
    ["08/06/13 14:00", "Horst SC B", "FC Canada"],
    ["15/06/13 14:00", "Horst SC B", "Welkom Boys B"],
    ["22/06/13 00:00", "vrij"],
    ["29/06/13 14:45", "FC Kolonie B", "Horst SC B"],
    ["06/07/13 14:00", "Horst SC B", "FC Torpedo"],
    ["03/08/13 17:00", "VV Heuvel", "Horst SC B"],
    ["10/08/13 17:00", "Toek. Geneberg", "Horst SC B"],
    ["17/08/13 17:00", "SK Locht", "Horst SC B"],
    ["24/08/13 14:30", "FC Spoetnik", "Horst SC B"],
    ["31/08/13 16:00", "Hoef SP", "Horst SC B"],
    ["07/09/13 14:30", "R. Heesakker B", "Horst SC B"],
    ["14/09/13 17:00", "FC Canada", "Horst SC B"],
    ["21/09/13 14:30", "Welkom Boys B", "Horst SC B"],
    ["28/09/13 15:00", "FC Torpedo", "Horst SC B"]
]);
