<!-- scraped --><table class="table"><colgroup><col width="26"> <col width="131"> <col span="7" width="40"></colgroup><tbody><tr>
<td class="xl22" style="text-align: center;" width="21" height="17"><strong>&nbsp;</strong></td>
<td class="xl22" style="text-align: center;" width="124"><strong>&nbsp;</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>Wds</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>+</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>-</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>=</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>D+</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>D-</strong></td>
<td class="xl22" style="text-align: center;" width="40"><strong>Ptn</strong></td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">1</td>
<td class="xl24" style="text-align: left;" width="124">SK &nbsp; Locht</td>
<td class="xl23" style="text-align: center;" width="40">8</td>
<td class="xl23" style="text-align: center;" width="40">5</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">21</td>
<td class="xl23" style="text-align: center;" width="40">9</td>
<td class="xl23" style="text-align: center;" width="40">16</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">2</td>
<td class="xl24" style="text-align: left;" width="124">Welkom &nbsp; Boys B</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">4</td>
<td class="xl23" style="text-align: center;" width="40">0</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">14</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">14</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">3</td>
<td class="xl24" style="text-align: left;" width="124">VV &nbsp; Heuvel</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">4</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">26</td>
<td class="xl23" style="text-align: center;" width="40">13</td>
<td class="xl23" style="text-align: center;" width="40">13</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">4</td>
<td class="xl24" style="text-align: left;" width="124">FC &nbsp; Torpedo</td>
<td class="xl23" style="text-align: center;" width="40">7</td>
<td class="xl23" style="text-align: center;" width="40">4</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">0</td>
<td class="xl23" style="text-align: center;" width="40">13</td>
<td class="xl23" style="text-align: center;" width="40">13</td>
<td class="xl23" style="text-align: center;" width="40">12</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">5</td>
<td class="xl24" style="text-align: left;" width="124">FC &nbsp; Canada</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">17</td>
<td class="xl23" style="text-align: center;" width="40">15</td>
<td class="xl23" style="text-align: center;" width="40">9</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">6</td>
<td class="xl24" style="text-align: left;" width="124">Hoef &nbsp; Sport</td>
<td class="xl23" style="text-align: center;" width="40">7</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">11</td>
<td class="xl23" style="text-align: center;" width="40">19</td>
<td class="xl23" style="text-align: center;" width="40">8</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">7</td>
<td class="xl24" style="text-align: left;" width="124">FC &nbsp; Kolonie B</td>
<td class="xl23" style="text-align: center;" width="40">7</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">9</td>
<td class="xl23" style="text-align: center;" width="40">11</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">8</td>
<td class="xl24" style="text-align: left;" width="124">FC &nbsp; Spoetnik</td>
<td class="xl23" style="text-align: center;" width="40">5</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">8</td>
<td class="xl23" style="text-align: center;" width="40">5</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">9</td>
<td class="xl24" style="text-align: left;" width="124">Toek. &nbsp; Geneberg</td>
<td class="xl23" style="text-align: center;" width="40">7</td>
<td class="xl23" style="text-align: center;" width="40">1</td>
<td class="xl23" style="text-align: center;" width="40">4</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">15</td>
<td class="xl23" style="text-align: center;" width="40">24</td>
<td class="xl23" style="text-align: center;" width="40">5</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">10</td>
<td class="xl24" style="text-align: left;" width="124">Real &nbsp; Heesakker B</td>
<td class="xl23" style="text-align: center;" width="40">5</td>
<td class="xl23" style="text-align: center;" width="40">0</td>
<td class="xl23" style="text-align: center;" width="40">2</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">8</td>
<td class="xl23" style="text-align: center;" width="40">12</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
</tr>
<tr>
<td class="xl23" style="text-align: center;" width="21" height="17">11</td>
<td class="xl24" style="text-align: left;" width="124">Horst &nbsp; SC B</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">0</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
<td class="xl23" style="text-align: center;" width="40">6</td>
<td class="xl23" style="text-align: center;" width="40">16</td>
<td class="xl23" style="text-align: center;" width="40">3</td>
</tr></tbody></table>